<%- layout('../layout/index') %>
<!--====== Page Banner Start ======-->
<section class="page-banner page-banner-custom">
    <div class="page-banner-bg">
        <div class="container">
            <div class="banner-content banner-content-custom align-items-center">
                <h2 class="title title-custom">Contact <span>Us</span></h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->

<!--====== Contact Start ======-->

<section class="contact-area content-area-padding-custom mb-15">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-contact-info mt-30">
                    <div class="info-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="info-content">
                        <h5 class="title">Address</h5>
                        <a href="https://goo.gl/maps/8yizmeSmmWGFnq1R6" target="_blank">
                            <p>SIDDHIPARK, OPP, SANTOSHINAGAR, L.H. ROAD, SURAT, Gujarat, 395006</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact-info mt-30">
                    <div class="info-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info-content">
                        <h5 class="title">Phone</h5>
                        <p><a href="tel:+918799552145">+91 87995 52145</a></p>
                        <p><a href="tel:+918799552145">+91 75676 26199</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact-info mt-30">
                    <div class="info-icon">
                        <i class="fas fa-globe-africa"></i>
                    </div>
                    <div class="info-content">
                        <h5 class="title">Web</h5>
                        <p><a href="mailto://info@example.com">maruticolors89@gmail.com</a></p>
                        <p><a href="#">www.marutichemex.com</a></p><BR>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-title text-center">
                        <h3 class="title">Leave a message here</h3>
                        <!-- <p>Here is our event schedule where you can get information about time schedule about this event so it's very easy for you to manage your time and schedule</p> -->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form-wrapper">
                        <form id="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="text" id="id_company_name" name="name_company_name"
                                               placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="email" id="id_email" name="name_email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="text" id="id_phone" name="name_phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="text" id="id_product_name" name="name_product_name"
                                               placeholder="Product Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <textarea id="id_inquiry_message" name="name_inquiry_message"
                                                  placeholder="Details message..."></textarea>
                                    </div>
                                </div>
                                <p class="form-message alert"></p>
                                <div class="col-md-12">
                                    <div class="single-form text-center">
                                        <button class="main-btn">Submit now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Contact Ends ======-->
