<section class="footer-area bg_cover footer-area-custom">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link mt-45">
                        <h4 class="footer-title">Useful Link</h4>
                        <ul class="link-list">
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/about-us">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link mt-45">
                        <h4 class="footer-title">Contact Info</h4>
                        <ul class="link-list">
                            <li>
                                <p>SIDDHIPARK, OPP, SANTOSHINAGAR, L.H. ROAD, SURAT, Gujarat, 395006</p>
                            </li>
                            <li>
                                <p><a href="tel:+91 87995 52145">+91 87995 52145 </a></p>
                                <p><a href="tel:+91 75676 26199">+91 75676 26199 </a></p>

                            </li>
                            <li>
                                <p><a href="mailto:<%- (SUPPORT_EMAIL)%>"><%- (SUPPORT_EMAIL)%></a></p>
                                <p><a href="/">www.marutichemex.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="footer-link mt-45 ml-30">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.5051985985197!2d72.8645102!3d21.211806300000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f0f7406b36f%3A0xb253a1e08cbd2ed9!2sSiddhipark%20Society!5e0!3m2!1sen!2sin!4v1693336959517!5m2!1sen!2sin"
                                width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="footer-widget-wrapper">
                    <div class="footer-social">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/maruticolorandchemical" class="facebook-logo" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://instagram.com/maruti_chemex?igshid=OGQ5ZDc2ODk2ZA==" class="insta-logo" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/maruti-color-chemical/" class="linkdln-logo" target="_blank"><i
                                    class='fab'>&#xf0e1;</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-space"></div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="footer-logo">
                            <!-- <a href="index.html">
                            <img src="assets/images/logo.png" width="135" height="88" alt="Logo">
                            <h4 style="display: inline-block; margin-left: 10px; vertical-align: middle;">Maruti Chemical</h4>
                        </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="copyright text-center">
                <p>&copy; 2023 <span> <%- APP_NAME %> </span> Made by <a href="#">Delincuente</a></p>
            </div>
        </div>
    </div>
</section>
